// Header Styling

.header {
	height: 100px;
	border: 5px solid #ffffff;
	position: relative;
}

.shrink {
	height: 75px;
	width: 75px;
	position: absolute;
	
}

.top {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: auto;
	right: auto;
}